<?xml version="1.0" encoding="utf-8"?>
<config>
  <address>127.0.0.1</address>
  <port>80</port>
  <threads>1</threads>
  <mimetypes>
    <mimetype>
      <extension>htm</extension>
      <type>text/html</type>
    </mimetype>
    <mimetype>
      <extension>html</extension>
      <type>text/html</type>
    </mimetype>
    <mimetype>
      <extension>php</extension>
      <type>text/html</type>
    </mimetype>
    <mimetype>
      <extension>css</extension>
      <type>text/css</type>
    </mimetype>
    <mimetype>
      <extension>txt</extension>
      <type>text/plain</type>
    </mimetype>
    <mimetype>
      <extension>js</extension>
      <type>application/javascript</type>
    </mimetype>
    <mimetype>
      <extension>json</extension>
      <type>application/json</type>
    </mimetype>
    <mimetype>
      <extension>xml</extension>
      <type>application/xml</type>
    </mimetype>
    <mimetype>
      <extension>swf</extension>
      <type>application/x-shockwave-flash</type>
    </mimetype>
    <mimetype>
      <extension>flv</extension>
      <type>video/x-flv</type>
    </mimetype>
    <mimetype>
      <extension>png</extension>
      <type>image/png</type>
    </mimetype>
    <mimetype>
      <extension>jpe</extension>
      <type>image/jpeg</type>
    </mimetype>
    <mimetype>
      <extension>jpeg</extension>
      <type>image/jpeg</type>
    </mimetype>
    <mimetype>
      <extension>jpg</extension>
      <type>image/jpeg</type>
    </mimetype>
    <mimetype>
      <extension>gif</extension>
      <type>image/gif</type>
    </mimetype>
    <mimetype>
      <extension>bmp</extension>
      <type>image/bmp</type>
    </mimetype>
    <mimetype>
      <extension>ico</extension>
      <type>image/vnd.microsoft.icon</type>
    </mimetype>
    <mimetype>
      <extension>tiff</extension>
      <type>image/tiff</type>
    </mimetype>
    <mimetype>
      <extension>tif</extension>
      <type>image/tiff</type>
    </mimetype>
    <mimetype>
      <extension>svg</extension>
      <type>image/svg+xml</type>
    </mimetype>
    <mimetype>
      <extension>svgz</extension>
      <type>image/svg+xml</type>
    </mimetype>
  </mimetypes>
  <defaultmimetype>application/text</defaultmimetype>
  <directories>
    <directory>
      <uri>^(?!/api).*</uri>
      <path>.\www</path>
      <default>index.html</default>
    </directory>
  </directories>
  <serial>
    <port>\\.\COM5</port>
    <baudrate>57600</baudrate>
  </serial>
</config>